/* styles.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.content {
  text-align: center;
}

.slogan {
  font-size: 72px;
  color: #154734; /* Dark green */
}

.track-package-button {
  padding: 50px 50px;
  font-size: 50px;
  border: 2px solid #154734; /* Dark green */
  background-color: transparent;
  color: #154734; /* Dark green */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.track-package-button:hover {
  background-color: #154734; /* Dark green */
  color: #ffffff; /* White */
}

.business-info {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.business-info p {
  font-size: 32px;
  color: #154734; /* Dark green */
  margin-right: 20px;
}

.register-business-button {
  padding: 15px 30px;
  font-size: 18px;
  border: 2px solid #154734; /* Dark green */
  background-color: transparent;
  color: #154734; /* Dark green */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-business-button:hover {
  background-color: #154734; /* Dark green */
  color: #ffffff; /* White */
}