/* page.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.content {
  text-align: center;
}

.slogan {
  font-size: 72px;
  color: #154734; /* Dark green */
  margin-bottom: 40px; /* Add margin to create space below */
}

.trackPackageButton {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 40px;
  font-size: 24px;
  border: 2px solid #ffffff; /* Dark green */
  background-color: #154734; /* Dark green */
  color: #ffffff; /* White */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.trackPackageButton:hover {
  background-color: #205b41; /* Darker green */
}

.additionalInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 30vh;
  font-size: 50px; /* Increased font size */
}

.additionalInfo p {
  font-size: 50px; /* Increased font size */
  color: #154734; /* Dark green */
  margin-right: 40px; /* Increase margin for more space between text and button */
}

.registerBusinessButton {
  padding: 15px 30px;
  font-size: 24px;
  border: 2px solid #ffffff; /* Dark green */
  background-color: #154734; /* Dark green */
  color: #ffffff; /* White */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px; /* Add margin to create space between text and button */
}

.registerBusinessButton:hover {
  background-color: #205b41; /* Darker green */
}

.dashboardContainer {
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.pageTitle {
  font-size: 32px; /* Adjust the size as you like */
  font-weight: bold;
  text-align: center; /* Center align if desired */
  margin: 20px 0; /* Add some space around the title */
}
